<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span class="titulo">Problems</span>
  <div class="spacer"></div>

</div>

<div class="content" role="main">
  <!--The content below is only a placeholder and can be replaced.-->
  <div>
    <form [formGroup]="numbersForm" (ngSubmit)="addNumber()">
      <h2>
        A) Pedir números al usuario y cuando el usuario meta un -1 se terminará el
        programa.Al terminar, mostrará lo siguiente:
      </h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Introduce numero</mat-label>
        <input formControlName="numbers" matInput type="number">
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" type="submit">Add</button>
      <i> El número -1 no contara como número.</i>

      <span *ngIf="numNegativ">
        Se a introducido el numero -1,se termino el programa!</span>
      <br />
      <div class="lista">
        <ul>
          <li *ngFor="let item of box; index as i">{{item}},</li>
        </ul>
      </div>

      <ul>
        <li>mayor numero introducido: {{resultA}}</li>
        <li>menor numero introducido: {{resultA1}}</li>
        <li>suma de todos los numeros: {{resultA2}}</li>
        <li>suma de los numeros positivos: {{resultA3}}</li>
        <li>suma de los numeros negativos: {{resultA4}}</li>
        <li>media de la suma: {{resultA5}}</li>
      </ul>
    </form>
  </div>
  <div>
    <h2>
      B) Pedir un texto y una letra, luego imprimir el texto eliminando las letras
      que coincidan con la que se introdujo.
    </h2>
    <div>
      <form [formGroup]="fraseForm" (ngSubmit)="fraseSubmit()">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Introduce una frase</mat-label>
          <input type="text" formControlName="frase" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Introduce la letra que quieres quitar</mat-label>
          <input type="text" formControlName="letter" matInput>
        </mat-form-field>



        <button mat-raised-button color="primary" type="submit">Eliminar letra</button><br /><br />
        <label for="result">Result: </label>
        <p>{{resultB}}</p>
      </form>
    </div>
  </div>
  <div>
    <h2>
      C) Generar dos array con 10 números aleatorios cada uno, luego generar un
      nuevo array con la suma del primer número del array1 con el último número
      del array2 y así sucesivamente ..e imprimir los valores del nuevo array
    </h2>
  </div>
  <div>

    <h3>1. Genera 2 array's con 10 números aleatorios cada uno <button mat-raised-button color="primary" type="submit"
        (click)="twoArr()"> Generar Arrays</button></h3>

    <p>Array1:</p>
    <div class="lista">
      <ul>
        <li *ngFor="let item of box2">{{item}},</li>
      </ul>
    </div>

    <p>Array2:</p>
    <div class="lista">
      <ul>
        <li *ngFor="let item of box3">{{item}},</li>
      </ul>
    </div>
    <br />
  </div>

  <h3> 2.Generar un nuevo array con la suma del primer número del array1 con el
    último número del array2</h3>


  <button mat-raised-button color="primary" type="submit" (click)="sumTwoArray()">Suma</button>

  <p>Suma:{{resultC}}</p>

</div>
